<header class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">
      {% if site.data.strings[page.lang].site.logo %}
      <img src="{{ '/assets/img/logo.svg' | relative_url }}" alt="{{ site.data.strings[page.lang].site.name }}" height="30">
      {% else %}
      {{ site.data.strings[page.lang].site.name }}
      {% endif %}
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarContent" aria-controls="navbarContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url }}">{{ site.data.strings[page.lang].nav.home }}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/services.html' | relative_url }}">{{ site.data.strings[page.lang].nav.services }}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/portfolio.html' | relative_url }}">{{ site.data.strings[page.lang].nav.portfolio }}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/resume.html' | relative_url }}">{{ site.data.strings[page.lang].nav.resume }}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/contact.html' | relative_url }}">{{ site.data.strings[page.lang].nav.contact }}</a></li>
      </ul>

      <!-- Language selector -->
      <div class="d-flex">
        <button class="btn btn-outline-secondary me-1" data-lang="en">EN</button>
        <button class="btn btn-outline-secondary me-1" data-lang="es">ES</button>
        <button class="btn btn-outline-secondary" data-lang="fr">FR</button>
      </div>
      <script src="{{ '/assets/js/lang-switch.js' | relative_url }}"></script>
    </div>
  </div>
</header>
