---
layout: default
---
<div class="row">
  <div class="col-md-8">
    <h2>{{ page.title }}</h2>
    <p>{{ page.description }}</p>

    {% if page.bullets %}
    <ul>
      {% for b in page.bullets %}
      <li>{{ b }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if page.badge %}
    <span class="badge bg-info text-dark">{{ page.badge }}</span>
    {% endif %}
  </div>
  {% if page.image %}
  <div class="col-md-4">
    <img src="{{ page.image | relative_url }}" class="img-fluid rounded" alt="{{ page.title }}">
  </div>
  {% endif %}
</div>
